<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    {% include "logs/daily.css" %}
  </style>
</head>
<body>
  {# Evernote uses 5 spaces for tab #}
  {% set num_spaces = 5 %}
  {% set tab = '&nbsp;'* num_spaces %}
  {% for date in dates %}
    <div class="entry">
      <div class='date'>{{ date }}</div>
      {% for tag in tags %}
        <div class='tag'>{{ tag }}:</div>
      {% endfor %}
      <div class="dash">{{ tab }}-</div>
      <br>
    </div>
  {% endfor %}
</body>
</html>
